# Flask framework and WSGI server
Flask
gunicorn

# Firebase Admin SDK for Firestore
firebase-admin

# Google Cloud Firestore
google-cloud-firestore

# Requests library for API calls
requests

# Slack Bolt for Slack bot
slack-bolt
slack-sdk

# dotenv for loading environment variables
python-dotenv

# Regex for validations
regex
